@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  display: flex;
  padding-left: 50px;
}

.jioLinks {
  width: 67%;
  display: flex;
  /* margin-right: 20px; */
}

.jioSocials {
  width: 33%;
}

.jioLinkList {
  /* margin-right: 20px; */
  width: 25%;
  /* display: flex; */
}

.jioLinkList .title p {
  font-weight: bold;
}

.list-item {
  padding-top: 20px;
}

.list-item-content {
  /* padding: 10px 0px; */
  /* padding: 10px; */
  /* width: 30px; */
  margin: 0px;
  /* padding: 0; */
  padding: 10px 10px 10px 0px;
  /* padding: 5px; */
  width: 100%;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  font-size: 15px;
}

.list-item-content:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.jioSocialDiv h3 {
  font-weight: 900;
  font-size: 25px;
}

.socialIcons {
  display: flex;
}

.socialIconDiv {
  margin: 8px 15px 8px 0px;
  /* padding: 15px; */
  height: 35px;
  width: 35px;
  background-color: #0f3cc9;
  border-radius: 50%;
  /* display: block; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  align-items: center;
}

.socialIcon {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.jioAppDownload {
  padding-top: 34px;
}

.jioAppDownloadTextDiv h3 {
  font-weight: 900;
  font-size: 25px;
}

.jioAppDownloadImage {
  width: 150px;
  margin: 10px 10px 0px 0px;
  cursor: pointer;
}

.footer-left {
  width: 50%;
  display: flex;
  align-items: center;
}
.footer-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}

.container {
  display: flex;
  padding: 0px 0px 20px 0px;
  align-items: center;
}
.footerIcon {
  /* display: flex; */
  padding: 0px 10px 0px 0px;
}
.footerJioIcon {
  width: 30px;
  color: #0a2885;
}

.footerCopyrightPara {
  font-size: 12px;
}

.footer-right-textDiv {
  display: flex;
}

.footer-right-text {
  padding: 0px 5px;
  /* font-weight: 600; */
  cursor: pointer;
}

.footer-right-text:hover {
  color: #3535f3;
}
