<div class="card-group">
  <div class="card-body">
    <img src="../../assets/Saavnpro-13july2022.jpg" alt="" />
    <div class="card-content">
      <button class="cardBtn">JIOSAAVAN PRO</button>
      <div class="card-title">Uninterrupted, ad-free music!</div>
      <div class="card-text">
        Ad-free music, unlimited downloads, exclusive originals, JioTunes, and
        more.
      </div>
      <div class="cardSecondBtn">
        <button>Try JioSaavan Pro</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <img src="../../assets/HealthHub-13thjuly2022.jpg" alt="" />
    <div class="card-content">
      <button class="cardBtn">JIOHEALTH HUB</button>
      <div class="card-title">Doctor's care, on the go!</div>
      <div class="card-text">
        Book tests, consult doctors or even share reports with your doctor.
      </div>
      <div class="cardSecondBtn">
        <button>Explore JioHealthHub</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <img src="../../assets/Hamleys-13thjuly2022.jpg" alt="" />
    <div class="card-content">
      <button class="cardBtn">HAMLEYS</button>
      <div class="card-title">The joy of buying toys!</div>
      <div class="card-text">
        Play toys, watch demos, and meet fun characters at Hamleys stores!
      </div>
      <div class="cardSecondBtn">
        <button>Hamleys store near me</button>
      </div>
    </div>
  </div>
</div>
