<div class="container">
  <div class="header">
    <h1>In the spotlight</h1>
    <p>The best deals, new launches, and top-selling products right now.</p>
  </div>
  <div class="container mainContainer">
    <div class="spotlightText">
      <div class="title">Know what a digital monsoon feels like?</div>
      <div class="text">
        Just buy a JioFi for &#8377;2,800 and get cashback worth &#8377;1,500
      </div>
      <div class="btnDiv">
        <button class="buyBtn">Buy Now</button>
      </div>
    </div>
    <div class="spotlightImg"></div>
  </div>
</div>
