<div class="container-fluid">
  <div class="content">
    <div class="title">
      <p class="heading">The best things in life are FREE</p>
    </div>
    <div>
      <p class="sliderText">
        High-speed connectivity, digital delights, and many priceless moments.
      </p>
    </div>
    <div class="buttons">
      <button class="get-jio-sim">Get Jio SIM</button>
      <button class="lets-celeb">Let's celebrate
        <fa-icon [icon]="faPlayCircle" class="playIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
